@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(https://db.onlinewebfonts.com/c/08e020de1811ec4489f82d1247a42c09?family=Helvetica+Now+Text);
.container {
  padding: 0 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
}
.logoName {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}
.left {
}
.mid {
}
.right {
  align-items: center;
  justify-content: center;
  display: flex;
}
.right img {
  margin-right: 10px;
}
.menu-icon {
  display: none;
}
.HideAccount-icon {
  display: block;
}
.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 20px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  font-family: "Helvetica Now Text";
  text-decoration: none;

  text-transform: uppercase;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 1300px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .HideAccount-icon {
    display: none;
    background-color: #2f234f;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    /* background-color: #fef7e5; */
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 18px;
  }
}
