@import url(https://db.onlinewebfonts.com/c/08e020de1811ec4489f82d1247a42c09?family=Helvetica+Now+Text);

.details p {
  margin-bottom: 20px;
  font-family: "Helvetica Now Text";
  font-size: 12px;
}

@media (max-width: 1025px) {
  .details p {
    font-size: 10px;
  }
}
