@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.midCont {
  margin: 0 auto;
  width: 75%;
}

.imageContainer {
  display: flex;

  align-items: center;
  justify-content: center;
}

.imagesFrame {
  display: flex;
  width: 550px;
  flex-wrap: wrap;
  row-gap: 8px;
  align-items: center;
  position: relative;
}

.clothTypes {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clothtype {
  margin: 0 10px;
  color: black;

  font-family: "Roboto", sans-serif;
}

.EditorNote {
  margin: 40px auto;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Roboto", sans-serif;
}
.note {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.noteParagraph {
  color: black;
  font-weight: 500;
  font-size: 23px;
}
.editorname {
  color: black;
}
.editorName {
  font-size: 14;
  font-weight: 500;
}

.ResTabletView {
  display: none;
}
@media (max-width: 1150px) {
  .midCont {
    margin: 0 auto;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .midCont {
    width: 98%;
  }
  .imageContainer {
    display: none;
  }
  .ResTabletView {
    display: block;
  }
}
