@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(https://db.onlinewebfonts.com/c/08e020de1811ec4489f82d1247a42c09?family=Helvetica+Now+Text);

.productDetailCont {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.productName {
  font-weight: 600;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
}
.product-desc {
  font-family: "Roboto", sans-serif;
}
.productPrice {
  font-weight: 700;
  font-size: 15;
  font-family: "Roboto", sans-serif;
}
.product-size {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px auto;
}
.sizes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}
.size-box {
  width: 70px;

  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.nonSelected-size {
  background-color: white;
  border: 1px solid #e5e5e5;
  font-family: "Roboto", sans-serif;
}
.selected-size {
  background-color: #000;

  font-family: "Roboto", sans-serif;
}
.dimmBG {
  background-color: #e5e5e5;
}
.product-images {
  display: flex;
}
.sampleSelect {
  border: 1px solid black;
}

.selectedSizeColor {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: white;
}
.nonSelectedSizeColor {
  font-family: "Roboto", sans-serif;
  font-size: 12px;

  color: #000;
}
.addtobagName {
  color: #fff;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
}
.addToBag {
  background-color: #000;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.otherInfo {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.otherOffers {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

@media (max-width: 768px) {
  .addToBag {
    width: 100%;
  }
}
@media (max-width: 1025px) {
  .productName {
    font-size: 30px;
  }
  .productDetailCont {
    row-gap: 5px;
  }
}
