@import url(https://db.onlinewebfonts.com/c/08e020de1811ec4489f82d1247a42c09?family=Helvetica+Now+Text);

.headContainer {
  width: 90%;
  height: 50px;
}

.headContainer ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
}
.headContainer ul li a {
  text-decoration: none;
  font-family: "Helvetica Now Text";
  font-size: 13px;
}

.active {
  color: black;
}
.dead {
  color: #767676;
}

@media (max-width: 1025px) {
  .headContainer ul li a {
    font-size: 10px;
  }
}
