.midPart {
  display: flex;
  width: 100%;
  position: relative;
  top: 80px;
  justify-content: center;
  width: 100%;
}

.leftpannel {
  width: 20%;
  position: fixed;
  left: 40px;
  top: 80px;
}

.midpannel {
  width: 60%;
}

.rightpannel {
  width: 20%;
  position: fixed;
  right: 40px;
  top: 80px;
}

@media (max-width: 768px) {
  .midpannel {
    width: 90%;
  }
  .leftpannel {
    display: none;
  }
  .rightpannel {
    display: none;
  }
}
